body{
  background-color: pink;
}
h1{
  color: blue;
  text-align: center;
}
.bandera{
  display: block;
  width: 100%;
  height: 20vh;
}
.amarilla{
  background-color: yellow;
  color: black;
}
.gris{
  background-color: gray;
  color: white;
}
#texto-mayusculas{
  text-transform: uppercase;
}
